{% extends 'base.html' %}

{% block content %}
<div></div>
<div class="mt-6">
  <form class="flex justify-between gap-2">
    <input class="pl-2 py-1 w-full border border-gray-900 rounded-md" type="text" name="q" value="{{ query }}"/>
    <button class="px-2 py-1 border border-gray-900 rounded-md" type="submit">Search</button>
  </form>
</div>
{% for (path, file, html) in results %}
<div class="mt-4 py-2">
  <a class="font-bold" href="{{ path }}">{{ file }}</a>
  <div class="mt-2 p-4 border border-black rounded-md whitespace-pre-wrap break-words font-mono bg-black text-white">{{ html | safe }}</div>
</div>
{% endfor %}
{% endblock %}
